<div class="img_container">
  <img class="image" src="images/logo.png" alt="" />
</div>

<div class="dropdown">
  <button class="dropdownBtn">Menu</button>
  <div class="dropdownContent">
    <a href="index.html">Home</a>
    <a href="pages/shop.html">Shop</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
  </div>
</div>

<div class="search_bar">
  <!-- class="search_input"   -->
  <div style="padding: 5px 15%">
    
    <input
      type="search"
      id="search-input"
      placeholder="Search by Title, Author, or ISBN"
    />
    <i id="search" class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>
<span class="button-container">
  <!-- <button class="search-button" id="search">Search</button> -->
</span>
<!-- onkeyup="search()"  - -->
<div class="action_bar">
  <div class="drop_container">
    <div class="dropdown">
      <button class="dropdownBtn">Sing In</button>
      <div class="dropdownContent">
        <a href="./singup.html">Create Account</a>
        <a href="./Login.html">Log In</a>
        <a href="create_account.html">Order Status</a>
        <hr>
        <a href="./wishlist.html">My Wishlist</a>
        <a href="../pages/profile.html">My Account</a>
        <a href="my_account.html">Logout</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropdownBtn">Country</button>
      <div class="dropdownContent">
        <a value="">India</a>
        <a value="">United State</a>
        <a value="">Australia</a>
      </div>
    </div>
  </div>
</div>

<div>
  <a href="pages/cart.html">
   <i class="fa-solid fa-cart-shopping"><span class="me">0</span></i></a>
</div>
<div>
  <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
</div>
