/* Cart table */
#cart {
  overflow-x: auto;
}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap ;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1){
  text-align: center;
}
#cart table td:nth-child(2){
  text-align: center;
}
#cart table td:nth-child(3){
  text-align: center;
}

#cart table td:nth-child(4)
#cart table td:nth-child(5)
#cart table td:nth-child(6){
  text-align: center;
}

#cart table td:nth-child(5) input{
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 13px;
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  bottom: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1; padding: 30px;
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 50%;
  bottom: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

.product-details{
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 799px){

}
@media (max-width: 477px){
/* Cart Page */
#card-add{
  flex-direction: column;;
}
#coupon{
  width: 100%;
}
#subtotal{
  width: 100%;
  padding: 20px;
}
}